# Training outputs
outputs/

# Python cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/
jkan/jkan.ipynb

# Virtual environments
.venv/
venv/
env/

# Editor cache
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
